@(content: Html)

<!DOCTYPE html>

<html lang="en">
  <head>
    <title>React App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("img/favicon.ico")">
    <link rel="stylesheet" href="@routes.Assets.versioned("css/index.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("css/App.css")">
  </head>
  <body>

    @content

    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.fullPath("react", "react.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.fullPath("react-dom", "dist/react-dom.js"))'></script>

    <script type='text/javascript' src='@routes.Assets.versioned("js/App.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("js/index.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("js/sw.js")'></script>
  </body>
</html>